<a href="https://colab.research.google.com/github/wereboss/GenAICourse/blob/main/NUS_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
# Series example​

s = pd.Series([10, 20, 30],index=['a', 'b', 'c'])


# Label-based indexing (Series)​

print("Label-based indexing (Series):")

print(s['b'])   # Output: 20​

Label-based indexing (Series):
20

In [ ]:
data = {'Name':['Alice','Bob','Charlie','Deacon'],'Age':[65,55,45,35],'City':['London','Rome','Milan','Paris']}
data

{'Name': ['Alice', 'Bob', 'Charlie', 'Deacon'],
 'Age': [65, 55, 45, 35],
 'City': ['London', 'Rome', 'Milan', 'Paris']}

In [ ]:
df = pd.DataFrame(data)
print('Label based indexing (database-Row)')
print(df.loc[1])

Label based indexing (database-Row)
Name     Bob
Age       55
City    Rome
Name: 1, dtype: object

In [ ]:
print('Label based indexing (database-Column)')
print(df['Name'])

Label based indexing (database-Column)
0      Alice
1        Bob
2    Charlie
3     Deacon
Name: Name, dtype: object

In [ ]:
print("Integer-based indexing (Series):")
print(s[1])   # Output: 20​

Integer-based indexing (Series):
20

<ipython-input-21-2eb33e9dd8d2>:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s[1])   # Output: 20​

In [ ]:
print('Integer based indexing (database-Row)')
print(df.iloc[1])

Integer based indexing (database-Row)
Name     Bob
Age       55
City    Rome
Name: 1, dtype: object

In [ ]:
print('Boolean based indexing (database-Row)')
print(df[df['Age']>50]['City'])

Boolean based indexing (database-Row)
0    London
1      Rome
Name: City, dtype: object

In [ ]:
print('Complex based indexing (database-Row)')
print(df[(df['Age']>50) & (df['City'] == 'Paris')])

Complex based indexing (database-Row)
Empty DataFrame
Columns: [Name, Age, City]
Index: []

In [ ]:
print('Sort values')
print('Sort by age:',df.sort_values('Age'))
print('Sort by Name:',df.sort_values('Name'))

Sort values
Sort by age:       Name  Age    City
3   Deacon   35   Paris
2  Charlie   45   Milan
1      Bob   55    Rome
0    Alice   65  London
Sort by Name:       Name  Age    City
0    Alice   65  London
1      Bob   55    Rome
2  Charlie   45   Milan
3   Deacon   35   Paris

In [ ]:
df['Grade'] = ['B','C','A+','B-']
print('after adding column:\n',df)

df['Senior'] = df['Age'] > 50
print('after Add conditional column:\n',df)

df = df.drop('Grade',axis=1)
print('after dropping Grade column:\n',df)

after adding column:
       Name  Age    City  Senior Grade
0    Alice   65  London    True     B
1      Bob   55    Rome    True     C
2  Charlie   45   Milan   False    A+
3   Deacon   35   Paris   False    B-
after Add conditional column:
       Name  Age    City  Senior Grade
0    Alice   65  London    True     B
1      Bob   55    Rome    True     C
2  Charlie   45   Milan   False    A+
3   Deacon   35   Paris   False    B-
after dropping Grade column:
       Name  Age    City  Senior
0    Alice   65  London    True
1      Bob   55    Rome    True
2  Charlie   45   Milan   False
3   Deacon   35   Paris   False

In [ ]:
import numpy as np
data = {'Name':['Alice','Bob','Charlie','Deacon'],'Age':[65,np.nan,45,np.nan],'City':['London','Rome','Milan','Paris']}
df = pd.DataFrame(data)

print('recalibrated data:\n',df)

recalibrated data:
       Name   Age    City
0    Alice  65.0  London
1      Bob   NaN    Rome
2  Charlie  45.0   Milan
3   Deacon   NaN   Paris

In [ ]:
df_filled = df.fillna(-1)
print('dataframe numeric filled with -i:\n',df_filled)

dataframe numeric filled with -i:
       Name   Age    City
0    Alice  65.0  London
1      Bob  -1.0    Rome
2  Charlie  45.0   Milan
3   Deacon  -1.0   Paris

In [ ]:
df_filled = df.fillna(df.mean(numeric_only=True))
print('dataframe numeric filled with numeric mean:\n',df_filled)

dataframe numeric filled with numeric mean:
       Name   Age    City
0    Alice  65.0  London
1      Bob  55.0    Rome
2  Charlie  45.0   Milan
3   Deacon  55.0   Paris

In [ ]:
df_filled = df.dropna()
print('dataframe with NaN rows dropped:\n',df_filled)

dataframe with NaN rows dropped:
       Name   Age    City
0    Alice  65.0  London
2  Charlie  45.0   Milan

In [ ]:
data = {'Name':['Alice','Bob','Alice','Deacon'],'Age':[65,65,65,np.nan],'City':['London','Rome','London','London']}
df = pd.DataFrame(data)

print('recalibrated data:\n',df)

recalibrated data:
      Name   Age    City
0   Alice  65.0  London
1     Bob  65.0    Rome
2   Alice  65.0  London
3  Deacon   NaN  London

In [ ]:
df_nodup = df.drop_duplicates()
print('dupes dropped data:\n',df_nodup)

df_nodup = df.drop_duplicates(subset=['City'])
print('dupes dropped data:\n',df_nodup)

dupes dropped data:
      Name   Age    City
0   Alice  65.0  London
1     Bob  65.0    Rome
3  Deacon   NaN  London
dupes dropped data:
     Name   Age    City
0  Alice  65.0  London
1    Bob  65.0    Rome